body{
    background: #b3caff;
    text-align: center;
  }
  h1{
    margin: 20px 0px;
    margin-top: 170px;
  }
  .center{
    margin: auto;
    width: 20%;
    margin-top: 100px;
  }
  .box{
    font-size: 75px;
    font-weight: bold;
    color: blue;
    background: #e6bbbb;
    padding: 30px;
    border: 2px solid #ec3535;
    margin-top: 30px;
    border-radius: 5%;
  }
  .btns{
    margin-top: 30px;
  }
  .btn:hover{
    opacity: 0.5;
  }
  .btn:active{
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
    transform: scale(0.88);
  }
  .btn{
    padding: 2px 15px;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
  .btn-add{
    background: green;
    float: left;
    border: 2px solid #346b3b;
  }
  .btn-subtract{
    background: red;
    float: right;
    border: 2px solid #c34e4e;
  }
